@model Gazzetta.ViewModels.PurchViewModel


<h3><i>Purchases by @ViewBag.user</i></h3>

<table id="UserPurch" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Published by</th>
        <th>Price</th>
        <th>Purchase Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.UserBooks)
    {
        <tr class="info">
            <td>@Html.ActionLink(book.Book.Publication.Name, "Details", "Books", new { id = book.BookId }, null)</td>
            <td>Book</td>
            <td>@book.Book.Owner.UserName</td>
            <td>@book.Book.Publication.Price</td>
            <td>@book.PurchaseDate.ToShortDateString()</td>

        </tr>
    }
    @foreach (var magaz in Model.UserMagazines)
    {
        <tr class="info">
            <td>@Html.ActionLink(magaz.Magazine.Publication.Name, "Details", "Magazines", new { id = magaz.MagazineId.ToString() }, null)</td>
            <td>Magazine</td>
            <td>@magaz.Magazine.Owner.UserName</td>
            <td>@magaz.Magazine.Publication.Price</td>
            <td>@magaz.PurchaseDate.ToShortDateString()</td>

        </tr>

    }
    </tbody>

</table>




