<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gazetta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Gazetta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Autobiography", "SearchByCategory", "UserBooks",new { searchString = "Autobiography"})</li>
                        <li>@Html.ActionLink("Business", "SearchByCategory", "UserBooks", new { searchString = "Business"})</li>
                        <li>@Html.ActionLink("Education", "SearchByCategory", "UserBooks", new { searchString = "Education" })</li>
                        <li>@Html.ActionLink("Entertainment", "SearchByCategory", "UserBooks", new { searchString = "Business" })</li>
                        <li>@Html.ActionLink("Fiction", "SearchByCategory", "UserBooks", new { searchString = "Fiction" })</li>
                        <li>@Html.ActionLink("Politics", "SearchByCategory", "UserBooks", new { searchString = "Politics" })</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Magazines <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Autobiography", "SearchByCategory", "Magazines", new { searchString = "Autobiography" })</li>
                        <li>@Html.ActionLink("Business", "SearchByCategory", "Magazines", new { searchString = "Business" })</li>
                        <li>@Html.ActionLink("Education", "SearchByCategory", "Magazines", new { searchString = "Education" })</li>
                        <li>@Html.ActionLink("Entertainment", "SearchByCategory", "Magazines", new { searchString = "Entertainment" })</li>
                        <li>@Html.ActionLink("Fiction", "SearchByCategory", "Magazines", new { searchString = "Fiction" })</li>
                        <li>@Html.ActionLink("Politics", "SearchByCategory", "Magazines", new { searchString = "Politics" })</li>
                    </ul>
                </li>

             </ul>


            @using (Html.BeginForm("SearchBook", "Books", null, FormMethod.Post, new {@class = "navbar-form navbar-left", role = "search"}))
            {
                <div class="form-group">
                    <input name="query" type="text" class="form-control" placeholder="Search here.."/>
                </div>
                <button type="submit" class="btn btn-default">Search</button>

            }



            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="body-content SearchBody">
    
    @RenderBody()
    
    @*<hr style="border-color:#2c3e50">*@

    <footer  style="bottom: 0; position: relative; width: 100%" class="SearchFooter" >

        <p class="">© 2018 Copyright: @Html.ActionLink("Gazetta.com", "Index", "Home")</p>

        <p>@Html.ActionLink("About", "About", "Home")</p>
        <p>@Html.ActionLink("Contact", "Contact", "Home")</p>

    </footer>
</div>





@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
</body>
</html>
