@model IEnumerable<Gazzetta.Models.Book>

@{
    ViewBag.Title = "UserBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Books</h2>
    <ul class="caption-style-1">
        @foreach (var book in Model)
        {
            <li>
                <img Style="width: 300px; height: 450.2px;" src="@Url.Action("GetThumbnail", new {id = book.Id})"/>
                <div class="caption">
                    <a href="@Url.Action("Edit", "Books", new {id = book.Id})">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h1>@book.Publication.Name</h1>
                            <p>By: @book.Author</p>
                            <p>@book.Publication.Description</p>
                        </div>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>







